/**
 * Global application styles.
 */

// Vendor
@import "~bootstrap/scss/bootstrap.scss"; // v4: https://github.com/twbs/bootstrap

// Manifest
@import "scss/base";

// li {
//   list-style: none;
// }
// a {
//   color:black;
// }
button:focus {
    outline: 0;
}

.post-li:hover {
  // border-left: 1px solid black;
  border: 1px solid black;
}

.comment-index-item:hover {
  border: 1px solid black;
}

.post-index-content, .comment-index-content {
  font-style: italic;
}

.author-span {
  font-weight: bold;
}

.hidden {
  display: none;
}

.selected {
  background-color: grey;
}
