/**
 * Global application styles.
 */

// Vendor
@import "~bootstrap/scss/bootstrap.scss"; // v4: https://github.com/twbs/bootstrap

// Manifest
@import "scss/base";

// li {
//   list-style: none;
// }

.post-li:hover {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.post-index-content, .comment-index-content {
  font-style: italic;
}

.author-span {
  font-weight: bold;
}
