.comments-index-div {
  border: 1px solid grey;
  border-radius: 10px;
}

.comments-index-div ul li {
  margin: 1%;
}

.comment-author-span {
  margin-left: 1%;
  font-weight: bold;
}

.comment-index-content {
  margin-left: 1%;
}

.comment-index-item {
  border-width: 0 0 0 2px;
  border-style: solid;
  border-color: #ccc;
}
